<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="ScantyVerse - The Carnivore Knights of the World of Metaverses">
    <meta name="keywords" content="Metaverse,NFT,Scantyverse,Lions">
    <meta name="author" content="Scantyverse">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanty Lions- NFT 4444</title>
    <meta property="og:image:secure_url" content="https://www.scantyverse.com/images/scantyverse.png" />
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/lightcase.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">

    <!-- main css for template -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <!-- ===============>> Preloader start here <<================= -->
    <div class="preloader">
        <img src="assets/images/logo/scantyverse.png" alt="SuperHero">
    </div>
    <!-- ===============>> Preloader end here <<================= -->



    <!-- ================> header section start here <================== -->
    <header class="header">
        <div class="container">
            <nav class="navbar navbar-expand-xl">
                <a class="navbar-brand" href="index.html">
                    <!-- <img src="assets/images/logo/scantyverse.png" alt="Niftyland"> -->
                    <span>Scantyverse</span>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler--icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="#">Blog</a>
                        <a class="nav-link" href="/mint">Mint!</a>
                        <!-- <a class="nav-link" href="#">404</a> -->
                        <a class="nav-link" href="#">Contact</a>
                    </div>
                    <div class="social-btns">

                        <a href="https://discord.gg/3sKdmmDvwD" class="default-btn">
                            <span>Join Our Discord</span>
                        </a>
                    </div>

                </div>
            </nav>
        </div>

    </header>
    <!-- ================> header section end here <================== -->



    <!-- ================> Banner section start here <================== -->
    <section id="home" class="banner" style="background-image: url(assets/images/banner/bg001.png);object-fit: cover;">
        <div class="container">
            <div class="banner__wrapper">
                <div class="row g-5 align-items-center justify-content-center">
                    <div class="col">
                        <div class="banner__content text-center" data-aos="fade-up" data-aos-duration="2000">
                            <h1 class="text--3d text-uppercase"> <span class="color--gradient-y">Welcome to</span> <br>
                               Scantyverse</h1>
                            <p>Scanty Lions 4444 🦁 are the first batch NFT collection from Scantyverse, which rewards holders gain access to IRL events and access to scantyverse.</p>

                            <ul class="social justify-content-center mb-5">
                                <li class="social__item">
                                    <a href="https://discord.gg/3sKdmmDvwD" class="social__link"><img src="assets/images/social/discord.png"
                                            alt="Discord"></a>
                                </li>
                                <li class="social__item">
                                    <a href="https://twitter.com/Scantyverse" class="social__link"><img src="assets/images/social/twitter.png"
                                            alt="Twitter"></a>
                                </li>
                                <li class="social__item">
                                    <a href="https://www.instagram.com/scantyverse/" class="social__link"><img src="assets/images/social/instagram.png"
                                            alt="Instagram"></a>
                                </li>
                               
                              
                            </ul>
                            <!-- <a href="#" class="default-btn">View On opensea</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="banner__apes">
            <li class="banner__apes-item aos-init aos-animate" data-aos="fade-up" data-aos-duration="1500">
                <img src="assets/images/banner/apes/r1.png" alt="Ape Image">
            </li>
            <li class="banner__apes-item aos-init aos-animate" data-aos="fade-right" data-aos-duration="1000">
                <img src="assets/images/banner/apes/r2.png" alt="Ape Image">
            </li>
            <li class="banner__apes-item aos-init aos-animate" data-aos="fade-up" data-aos-duration="1500">
                <img src="assets/images/banner/apes/r3.png" alt="Ape Image">
            </li>
            <li class="banner__apes-item aos-init aos-animate" data-aos="fade-left" data-aos-duration="1000">
                <img src="assets/images/banner/apes/r4.png" alt="Ape Image">
            </li>
        </ul>
    </section>
    <!-- ================> Banner section end here <================== -->



    <!-- ================> Collection section start here <================== -->
    <section class="collection padding-top padding-bottom" id="collection">
        <div class="container">
            <div class="section-header aos-animate aos-init" data-aos="fade-up" data-aos-duration="1000">
                <div class="section-header__content">
                    <h2> <span class="color--gradient-y">The</span> Collection</h2>
                    <p>4,444 Unique Digital Lion Trying to Blend With The Norites On The Etherium Blockchain.</p>
                </div>
            </div>
            <div class="collection__wrapper">
                <div class="collection__thumb">
                    <div class="swiper collection__thumb-slider-1 mb-3">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="collection__thumb-item">
                                    <img src="assets/images/collection/1.png" alt="NFT Image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="collection__thumb-item">
                                    <img src="assets/images/collection/2.png" alt="NFT Image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="collection__thumb-item">
                                    <img src="assets/images/collection/3.png" alt="NFT Image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="collection__thumb-item">
                                    <img src="assets/images/collection/4.png" alt="NFT Image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="collection__thumb-item">
                                    <img src="assets/images/collection/5.png" alt="NFT Image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="collection__thumb-item">
                                    <img src="assets/images/collection/6.png" alt="NFT Image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper collection__thumb-slider-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="collection__thumb-item">
                                    <img src="assets/images/collection/7.png" alt="NFT Image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="collection__thumb-item">
                                    <img src="assets/images/collection/8.png" alt="NFT Image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="collection__thumb-item">
                                    <img src="assets/images/collection/9.png" alt="NFT Image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="collection__thumb-item">
                                    <img src="assets/images/collection/10.png" alt="NFT Image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="collection__thumb-item">
                                    <img src="assets/images/collection/11.png" alt="NFT Image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="collection__thumb-item">
                                    <img src="assets/images/collection/12.png" alt="NFT Image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-5">
                        <!-- <a href="#" class="default-btn">View On Opensea</a> -->
                        <span>
                            Scanty Lions are 4444 Unique collectible ERC-721 Non-Fungible Tokens (NFT) stored on Ethereum blockchain. Taking Off with Scanty Lions we continue to grow with Scantyverse ecosystem Scantyverse is our Metaverse of 22,220 NFTs, which are charecterised in 4 Batches as Scanty Lions 4444, Scanty Tiger 4444, scanty Leopards 6666, scanty _TBA_?
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ================> Collection section end here <================== -->



    <!-- ================> Mint section start here <================== -->
    <section id="mint" class="mint padding-top padding-bottom bg--cover"
        style="background-image: url(assets/images/mint/02.png);">
        <div class="container">
            <div class="mint__wrapper">
                <div class="row g-5 align-items-end">
                    <div class="col-lg-6">
                        <div class="mint__content aos-animate aos-init" data-aos="fade-right" data-aos-duration="1000">
                            <div class="row gy-5 gx-4 align-items-center">
                                <div class="col-6">
                                    <div class="mint__item">
                                        <div class="mint__inner">
                                            <h6 class="mint__sub-title">Scanty Lions</h6>
                                            <h2 class="mint__numbers">4,444</h2>
                                            <h4 class="mint__name text-uppercase">NFT's</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mint__item">
                                        <div class="mint__inner">
                                            <h6 class="mint__sub-title">Mint Price</h6>
                                            <h2 class="mint__numbers">TBA</h2>
                                            <h4 class="mint__name text-uppercase">Etherium</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mint__item">
                                        <div class="mint__inner">
                                            <h6 class="mint__sub-title">Mint Date</h6>
                                            <h2 class="mint__numbers">TBA*</h2>
                                            <!-- <h4 class="mint__name text-uppercase">April</h4> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="text-start">
                                        <a href="#" class="default-btn">Mint Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mint__thumb aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                            <img src="assets/images/mint/r2.png" alt="Minting Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="monkey-icon">
            <img src="assets/images/mint/monkey.png" alt="Monkey Icon">
        </div>
    </section>
    <!-- ================> Mint section end here <================== -->

   <!-- ================> Mint section start here <================== -->
   <img src="images/roadmap.png"/>
<!-- ================> Mint section end here <================== -->

    <!-- ================>Roadmap section start here <================== -->
    <section class="roadmap padding-top padding-bottom" id="roadmap">
        <div class="container">
            <div class="section-header aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                <div class="section-header__content">
                    <h2> <span class="color--gradient-y"> Scantyverse</span> Roadmap</h2>
                </div>
            </div>
            <div class="roadmap__wrapper">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="roadmap__item aos-animate aos-init" data-aos="fade-left" data-aos-duration="1000">
                            <div class="roadmap__inner">
                                <div class="roadmap__thumb">
                                    <img src="assets/images/roadmap/01.png" alt="Roadmap Icon">
                                </div>
                                <div class="roadmap__content">
                                    <h4>PRE-MINT</h4>
                                    <p>Aggressive marketing to increase exposure and demand for Scantyverse
                                        <br>NFT + Whitelist Giveaways
                                        <br>Exclusive Pre-Sale Discount for Whitelisted Members only</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="roadmap__item aos-animate aos-init" data-aos="fade-left" data-aos-duration="1000"
                            data-aos-delay="400">
                            <div class="roadmap__inner">
                                <div class="roadmap__thumb">
                                    <img src="assets/images/roadmap/02.png" alt="Roadmap Icon">
                                </div>
                                <div class="roadmap__content">
                                    <h4>Physical Merch</h4>
                                    <p>A clothing line inspired by the Scantyverse is already in the works, designed by various artists.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="roadmap__item aos-animate aos-init" data-aos="fade-left" data-aos-duration="1000"
                            data-aos-delay="800">
                            <div class="roadmap__inner">
                                <div class="roadmap__thumb">
                                    <img src="assets/images/roadmap/03.png" alt="Roadmap Icon">
                                </div>
                                <div class="roadmap__content">
                                    <h4>50ETH / 1,50,000 USDT GIVEAWAY</h4>
                                    <p>Mint atleast 1 NFT and you will be entered to win this giveaway. The winner will be announced after we sell out of our 4444 NFT’s!</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="roadmap__item aos-animate aos-init" data-aos="fade-up" data-aos-duration="1000"
                            data-aos-delay="400">
                            <div class="roadmap__inner">
                                <div class="roadmap__thumb">
                                    <img src="assets/images/roadmap/04.png" alt="Roadmap Icon">
                                </div>
                                <div class="roadmap__content">
                                    <h4>Launch Metaverse</h4>
                                    <p>The Scantyverse will be extended to the Nftworlds,Sandbox Metaverse, where the founders will buy a land once the Scanty Lions 4444 Collection is sold out. This would allow us to advertise our Scanty logo on Sandbox and Nftworlds and link to Opensea, which would bring more attention to the project. This land will be our HEADQUARTERS, where all the Scanty Holders can meet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="roadmap__item aos-animate aos-init" data-aos="fade-up" data-aos-duration="1000">
                            <div class="roadmap__inner">
                                <div class="roadmap__thumb">
                                    <img src="assets/images/roadmap/05.png" alt="Roadmap Icon">
                                </div>
                                <div class="roadmap__content">
                                    <h4>FREE TRIPS FOR COMMUNITY</h4>
                                    <p>All Paid International Holiday trip</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="roadmap__item aos-animate aos-init" data-aos="fade-up" data-aos-duration="1000"
                            data-aos-delay="800">
                            <div class="roadmap__inner">
                                <div class="roadmap__thumb">
                                    <img src="assets/images/roadmap/06.png" alt="Roadmap Icon">
                                </div>
                                <div class="roadmap__content">
                                    <h4>COMMUNITY FUND</h4>
                                    <p>50% of Raised ETH Will be added to the scantyverse community vault i,e community Fund. We will allocate 50% of royalties to a community fund for marketing expenses, future giveaways, drops, events, Metaverse developments etc… Owners of Scanty Lions NFTs will get together and vote on how we should spend this money.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================>Roadmap section end here <================== -->
    <!-- <section class="team padding-top padding-bottom bg--fixed" style="background-image: url(images/tokenomics.png);object-fit: cover;"
    id="team">
    <div class="container">
        <div class="section-header aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
            <div class="section-header__content">
                <h2 class="text--3d"> <span class="color--gradient-y d-block"> Meet</span> Our Team</h2>
                <p>Some teams call themselves a family, but we actually are one!</p>
            </div>
        </div>
     
    </div>
</section> -->
<img src="images/tokenomics.png"/>

    <!-- ================>Team section start here <================== -->
    <section class="team padding-top padding-bottom bg--fixed" style="background-image: url(assets/images/team/Bg005.png);object-fit: cover;"
        id="team">
        <div class="container">
            <div class="section-header aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                <div class="section-header__content">
                    <h2 class="text--3d"> <span class="color--gradient-y d-block"> Meet</span> Our Team</h2>
                    <p>Some teams call themselves a family, but we actually are one!</p>
                </div>
            </div>
            <div class="team__wrapper">
                <div
                    class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-3">
                    <div class="col">
                        <div class="team__item" data-aos="flip-right" data-aos-duration="1000">
                            <div class="team__inner">
                                <div class="team__thumb">
                                    <img src="assets/images/team/001.png" alt="team Image">
                                </div>
                                <div class="team__content">
                                    <h5><a href="https://twitter.com/cryptohamy">Scanty Hamy</a></h5>
                                    <p>Founder & Project Lead</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="team__item" data-aos="flip-right" data-aos-duration="1000">
                            <div class="team__inner">
                                <div class="team__thumb">
                                    <img src="assets/images/team/002.png" alt="team Image">
                                </div>
                                <div class="team__content">
                                    <h5><a href="#">BM Leo</a></h5>
                                    <p>Artist</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="team__item" data-aos="flip-right" data-aos-duration="1000">
                            <div class="team__inner">
                                <div class="team__thumb">
                                    <img src="assets/images/team/003.png" alt="team Image">
                                </div>
                                <div class="team__content">
                                    <h5><a href="https://twitter.com/KeeScanty">Scanty Kee</a></h5>
                                    <p>The Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="team__item" data-aos="flip-right" data-aos-duration="1000">
                            <div class="team__inner">
                                <div class="team__thumb">
                                    <img src="assets/images/team/004.png" alt="team Image">
                                </div>
                                <div class="team__content">
                                    <h5><a href="https://twitter.com/cryptocronyy">Scanty Swanky</a></h5>
                                    <p>Marketing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- ================>Team section end here <================== -->



    <!-- ================FAQ section start here <================== -->
    <section id="faq" class="faq padding-top padding-bottom">
        <div class="container">
            <div class="faq__wrapper">
                <div class="row align-items-center g-5">
                    <div class="col-lg-6">
                        <div class="section-header">
                            <div class="section-header__content text-start">
                                <h2 class="mx-0"> <span class="color--gradient-y d-block"> F.A.Q</span> Questions
                                </h2>
                            </div>
                        </div>
                        <div class="accordion" id="faqAccordion2">
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="accordion__item" data-aos="fade-up" data-aos-duration="1000">
                                        <div class="accordion__header" id="faq1">
                                            <button class="accordion__button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#faqBody1"
                                                aria-expanded="false" aria-controls="faqBody1">
                                                01
                                                How do I contact the team? <span class="plus-icon"></span>
                                            </button>
                                        </div>
                                        <div id="faqBody1" class="accordion-collapse collapse" aria-labelledby="faq1"
                                            data-bs-parent="#faqAccordion2">
                                            <div class="accordion__body">
                                                Feel free to ask any questions you have. All essential information will be announced on Discord
                           
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="accordion__item" data-aos="fade-up" data-aos-duration="1100">
                                        <div class="accordion__header" id="faq2">
                                            <button class="accordion__button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#faqBody2" aria-expanded="true"
                                                aria-controls="faqBody2">
                                                02
                                                What will the mint price be? <span class="plus-icon"></span>
                                            </button>
                                        </div>
                                        <div id="faqBody2" class="accordion-collapse collapse show"
                                            aria-labelledby="faq2" data-bs-parent="#faqAccordion2">
                                            <div class="accordion__body">
                                                SCANTY LIONS 4444 is a FIRST batch of NFT collection from SCANTYVERSE founded @Scanty Hamy | SCANTY, and TEAM. SCANTY LIONS are uniquely created from over 150+ hand drawn traits! Owning a SCANTY NFT allows you to take part in the project and be part of the community.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="accordion__item" data-aos="fade-up" data-aos-duration="1200">
                                        <div class="accordion__header" id="faq3">
                                            <button class="accordion__button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#faqBody3"
                                                aria-expanded="false" aria-controls="faqBody3">
                                                03
                                                What blockchain is it on?<span class="plus-icon"></span>
                                            </button>
                                        </div>
                                        <div id="faqBody3" class="accordion-collapse collapse" aria-labelledby="faq3"
                                            data-bs-parent="#faqAccordion2">
                                            <div class="accordion__body">
                                                The ERC-721 token is on the Ethereum Blockchain and file hosting is IPFS.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="accordion__item" data-aos="fade-up" data-aos-duration="1300">
                                        <div class="accordion__header" id="faq4">
                                            <button class="accordion__button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#faqBody4"
                                                aria-expanded="false" aria-controls="faqBody4">
                                                04
                                                What can you do with your SCANTY LIONS?<span class="plus-icon"></span>
                                            </button>
                                        </div>
                                        <div id="faqBody4" class="accordion-collapse collapse" aria-labelledby="faq4"
                                            data-bs-parent="#faqAccordion2">
                                            <div class="accordion__body">
                                                Anything you want. Each holder is given The ERC-721 token is on the Ethereum Blockchain and file hosting is IPFS.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="accordion__item" data-aos="fade-up" data-aos-duration="1400">
                                        <div class="accordion__header" id="faq5">
                                            <button class="accordion__button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#faqBody5"
                                                aria-expanded="false" aria-controls="faqBody5">
                                                05
                                                What can you do with your SCANTY LIONS?<span class="plus-icon"></span>
                                            </button>
                                        </div>
                                        <div id="faqBody5" class="accordion-collapse collapse" aria-labelledby="faq5"
                                            data-bs-parent="#faqAccordion2">
                                            <div class="accordion__body">
                                                Anything you want. Each holder is given ownership and commercial usage rights of their NFT.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="accordion__item" data-aos="fade-up" data-aos-duration="1500">
                                        <div class="accordion__header" id="faq6">
                                            <button class="accordion__button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#faqBody6"
                                                aria-expanded="false" aria-controls="faqBody6">
                                                06
                                                When is the official launch?<span class="plus-icon"></span>
                                            </button>
                                        </div>
                                        <div id="faqBody6" class="accordion-collapse collapse" aria-labelledby="faq6"
                                            data-bs-parent="#faqAccordion2">
                                            <div class="accordion__body">
                                                We will share the exact date and time on our 📢┃announcements channel.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="faq__thumb text-center aos-init aos-animate" data-aos-duration="2000"
                            data-aos="zoom-in-right">
                            <img src="assets/images/mint/001.png" alt="FAQ Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================FAQ section end here <================== -->



    <!-- ================>Community section start here <================== -->
    <section class="community padding-top padding-bottom" style="background-image:url(assets/images/community/Bg003.png)">
        <div class="container">
            <div class="comminity__wrapper">
                <div class="community__content text-center" data-aos="zoom-in" data-aos-duration="1000">
                    <h2 class="text--3d"><span class="color--gradient-y d-block">Join The </span> Scantyverse</h2>
                    <p>Join a genuine community !</p>
                    <a href="https://discord.gg/3sKdmmDvwD" class="default-btn"><span>Join Our Discord</span></a>
                </div>
            </div>
        </div>
    </section>
    <!-- ================>Community section end here <================== -->




    <!-- ================> Footer section start here <================== -->
    <footer class="footer">
        <div class="footer__wrapper padding-top padding-bottom aos-animate aos-ini" data-aos="fade-up"
            data-aos-duration="1000">
            <div class="container">
                <div class="footer__content text-center t">
                    <h2 class="color--gradient-y">Follow Us!</h2>
                    <p>If two Heads Area Better Than One, 4,444 Heads Should Be Way Better! Join Our Community.</p>
                    <ul class="social justify-content-center">
                        <li class="social__item">
                            <a href="https://discord.gg/3sKdmmDvwD" class="social__link"><img src="assets/images/social/discord.png"
                                    alt="Discord"></a>
                        </li>
                        <li class="social__item">
                            <a href="https://twitter.com/Scantyverse" class="social__link"><img src="assets/images/social/twitter.png"
                                    alt="Twitter"></a>
                        </li>
                        <li class="social__item">
                            <a href="https://www.instagram.com/scantyverse/" class="social__link"><img src="assets/images/social/instagram.png"
                                    alt="Instagram"></a>
                        </li>

                      
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="container">
                <div class="text-center py-4">
                    <p class=" mb-0">© 2022 Scanty Lions | All Rights Reserved <a href="#" class="color--theme-color">
                            Scantyverse</a> </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- ================> Footer section end here <================== -->

    <!-- vendor plugins -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/all.min.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/lightcase.js"></script>
    <script src="assets/js/countdown.min.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>